<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BPMTap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BPMTap.Properties.Settings>
            <setting name="TimeoutSeconds" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TapsToCalc" serializeAs="String">
                <value>6</value>
            </setting>
        </BPMTap.Properties.Settings>
    </userSettings>
</configuration>